* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;

    height: 100hv;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    border-color: #00ffa3;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.177);
}

.img-container {
    width: 100%;
    height: 250px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    overflow: hidden;

}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #2348ce;
}

.content {
    padding: 24 px 16px;
}

.name-profile {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 4px;
}

.job {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #00ffa3;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.descri {
    font-size: 14px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);

}

.links {
    width: 100%;
    display: flex;
    height: 0;
    border-top: 1px solid #00ffa3;
    transition: height 0.3s ease;
}

.card:hover .links {
    height: 65px;
}

.links .insta {
    --color: rgb(255, 216, 63);
}

.links .linke {
    --color1: #0e76a8;
}

.links .github {
    --color2: rgb(230, 237, 243);
}

.links>a {
    font-size: 20px;
    padding-block: 20px;
    color: black;
    flex: 1;
}

.links>a:not(:last-child) {
    border-right: 1px solid #00ffa3;
}

.links>.insta:hover {
    background-color: var(--color);


}

.links>.linke:hover {
    background-color: var(--color1);


}

.links>.github:hover {
    background-color: var(--color2);
}

.hero-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.news-grid {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding-bottom: 1rem;
    /* Adiciona espaÃ§o para evitar que o conteÃºdo toque a borda */
}

.news-item {
    background-color: #004c2f;
    color: #00ffa3;
    border: 1px solid #2661c6;
    border-radius: 4px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 0 0 250px;
    /* Define a largura fixa de cada item */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noticia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* Ajuste conforme necessÃ¡rio */
    color: #00ffa3;
}

.noticia h1 {
    margin-top: 10px;
    margin: 0;
    font-size: 2em;
    text-align: center;
    color: #00ffa3;
}

.news-item img {
    width: 100%;
    height: 150px;
    /* Define a altura fixa para todas as imagens */
    object-fit: cover;
    /* Garante que a imagem se ajuste bem ao contÃªiner */
    border-bottom: 1px solid #ddd;
    margin-bottom: 1rem;
}

.news-item h2 {
    font-size: 1.1rem;
    /* Diminui um pouco o tamanho da fonte */
    margin: 0 0 0.5rem;
    text-align: center;
    /* Centraliza o tÃ­tulo */
}

.news-item p {
    font-size: 0.9rem;
    /* Diminui um pouco o tamanho da fonte */
    margin: 0 0 1rem;
    text-align: center;
    /* Centraliza a descriÃ§Ã£o */
}